{% extends 'base.html' %}


{% block content %}
    <div class="ques-div">
        <form method="post" novalidate>
            <h2 class="qnum">Question {{qid}}</h2>
            <div class="dotted-spaced"></div>
            <hr>
            <h4 class="ques-heading">{{a}}+{{b}}+{{c}}+{{d}}+ {{e}} <span>= ?</span> </h4>
            <div class="options-div">
                {{ form.answer(placeholder="Your Answer", class="list-unstyled") }}
                {% for error in form.answer.errors %}
                <span style="color:red;"> {{ error }} </span>
                {% endfor %}
                

            </div>
            <hr>
            <div>{{ form.submit(class="btn btn-primary btn-lg sub-btn") }}</div>
            
        </form>
        <!-- <span class="check-circle">
            <i class="fas fa-check-circle"></i>
        </span> -->
    </div>

{% endblock %}

