{% extends 'base.html' %}


{% block content %}
    <div class="ques-div">
        <h2 class="qnum">Quiz: Task {{tid}}</h2>
    </div>


    <div class="info2-div">
            {% if tid == 1 %}
                <a class="mytype" href="{{ url_for('task_start')}}">Task 1: Piece Rate</a> 
            {% elif tid == 2 %}
                <a class="mytype" href="{{ url_for('task_start')}}">Task 2: Tournament</a> 
            {% elif tid == 3 %}
                <a class="mytype" href="{{ url_for('task_start')}}">Task 3: At Your Choice</a> 
            {% elif tid == 4  %}
                <a class="mytype" href="{{ url_for('task_start')}}">Task 4: When You Look Back</a> 
            {% endif %}
    </div>

    


{% endblock %}

